* {
  font-family: "JetBrains Mono Nerd Font";
  font-weight: bold;
  font-size: 15px;
}

#custom-notification {
  font-family: "JetBrains Mono Nerd Font";
  font-size: 17px;
  color: #a1bdce;
  margin: 2px 0px 0px 0px;
}

window#waybar {
  background: transparent;
}

.modules-left,
.modules-center,
.modules-right {
  background: rgba(43, 51, 46, 0.85);
  border: 3px solid rgba(133, 146, 137, 1);
  border-radius: 8px;
  margin: 0px 4px;
  padding: 0px 4px;
}

tooltip {
  background: #171717;
  color: #a7c080;
  font-size: 13px;
  border-radius: 7px;
  border: 2px solid #101a24;
}
#workspaces {
  box-shadow: none;
  text-shadow: none;
  transition: 0.2s ease;
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 1px;
}

#workspaces button {
  color: #d3c6aa;
  box-shadow: none;
  text-shadow: none;
  transition: 0.2s ease;
  padding: 0px 6px;
  margin: 6px 2px;
  border-radius: 30px;
  min-height: 0px;
  min-width: 0px;
}

#workspaces button.active {
  background: #83c092;
  color: #1e2326;
  transition: all 0.3s ease;
}

#workspaces button:hover {
  background: none;
  color: #72d792;
  animation: ws_hover 20s ease-in-out 1;
  transition: all 0.5s cubic-bezier(0.55, -0.68, 0.48, 1.682);
}

#taskbar button {
  box-shadow: none;
  text-shadow: none;
  font-size: 4px;
  padding: 0px;
  border-radius: 9px;
  margin-bottom: 3px;
  margin-left: 0px;
  padding-left: 3px;
  padding-right: 3px;
  margin-right: 0px;
  color: @wb-color;
  animation: tb_normal 20s ease-in-out 1;
}

#taskbar button.active {
  background: @wb-act-bg;
  color: @wb-act-color;
  margin-left: 3px;
  padding-left: 12px;
  padding-right: 12px;
  margin-right: 3px;
  animation: tb_active 20s ease-in-out 1;
  transition: all 0.4s cubic-bezier(0.55, -0.68, 0.48, 1.682);
  min-height: 9px;
}

#taskbar button:hover {
  background: @wb-hvr-bg;
  color: @wb-hvr-color;
  animation: tb_hover 20s ease-in-out 1;
  transition: all 0.3s cubic-bezier(0.55, -0.68, 0.48, 1.682);
}

#tray menu * {
  min-height: 16px;
  font-weight: bold;
  font-size: 13px;
  color: #9488e3;
}

#tray menu separator {
  min-height: 10px;
}

#custom-spacer {
  opacity: 0;
}
#custom-smallspacer {
  opacity: 0;
}

#custom-mouse {
  font-size: 14px;
  margin-bottom: 6px;
  background: #161320;
}

#custom-power {
  font-size: 15px;
  color: #ffffff;
  background: rgba(22, 19, 32, 0.9);
  margin: 6px 0px 6px 0px;
  padding-left: 4px;
  padding-right: 4px;
}

#backlight {
  color: #2096c0;
  background: rgba(23, 23, 23, 0);
  font-weight: normal;
  font-size: 19px;
  margin: 1px 0px 0px 0px;
  padding-left: 0px;
  padding-right: 2px;
}
#bluetooth,
#custom-cliphist {
  color: #e6e7e7;
  background: #161320;
  opacity: 1;
  margin: 4px 0px 4px 0px;
  padding-left: 4px;
  padding-right: 4px;
}
#battery {
  font-weight: normal;
  font-size: 22px;
  color: #a6d189;
  background: rgba(23, 23, 23, 0);
  opacity: 1;
  margin: 0px 0px 0px 0px;
  padding-left: 0px;
  padding-right: 0px;
}

#idle_inhibitor {
  color: #24966e;
  background: @bar-bg;
  opacity: 1;
  margin: 4px 0px 4px 0px;
  padding-left: 4px;
  padding-right: 4px;
}
#clock {
  color: #e69875;
  font-size: 12px;
  font-weight: 900;
  font-family: "JetBrains Mono Nerd Font";
  background: rgba(23, 23, 23, 0);
  opacity: 1;
  margin: 0px 0px 0px 0px;
  padding-left: 10px;
  padding-right: 10px;
  border: none;
}
#pulseaudio {
  font-weight: normal;
  font-size: 14px;
  color: #d3c6aa;
  background: rgba(22, 19, 32, 0);
  opacity: 1;
  margin: 0px 10px 0px 0px;
}
#cpu {
  padding: 5px;
  font-weight: normal;
  font-size: 18px;
  color: #d3c6aa;
  margin: 0px 10px 0px 0px;
}
#custom-gpuinfo,
#custom-keybindhint,
#language,
#memory {
  font-weight: normal;
  font-size: 15px;
  color: #d3c6aa;
  margin: 0px 10px 0px 0px;
}
#mpris,
#custom-vibemode {
  margin: 0px 10px;
  color: white;
  animation: vibe 4s ease-in-out infinite;
}

@keyframes vibe {
  0% {
    color: #a6d189;
  }
  25% {
    color: #83c092;
  }
  50% {
    color: #7fbbb3;
  }
  75% {
    color: #d699b6;
  }
  100% {
    color: #a6d189;
  }
}
#network {
  color: #e4c9af;
  font-weight: normal;
  font-size: 15px;
  margin: 0px 2px 0px 0px;
}
#custom-notifications,
#custom-spotify,
#taskbar,
#custom-theme,
#custom-menu {
  color: #e8edf0;
  background: rgba(23, 23, 23, 0);
  margin: 0px 0px 0px 0px;
  padding-left: 1px;
  padding-right: 1px;
  opacity: 0.1;
}
#tray,
#custom-updates,
#custom-wallchange,
#custom-wbar,
#window {
  color: #d3c6aa;
  font-family: "JetBrains Mono Nerd Font";
}

#window {
  padding: 0px;
  margin: 0px;
}
#custom-l_end,
#custom-r_end,
#custom-sl_end,
#custom-sr_end,
#custom-rl_end,
#cava,
#upower#headset,
#upower {
  color: #a6d189;
}
#mpris {
  font-weight: bold;
}
#custom-rr_end {
  font-weight: normal;
  color: #e8edf0;
  background: rgba(23, 23, 23, 0);
  opacity: 1;
  margin: 0px 0px 0px 0px;
  padding-left: 4px;
  padding-right: 4px;
}

#backlight-slider slider,
#pulseaudio-slider slider {
  background: #a1bdce;
  background-color: transparent;
  box-shadow: none;
  margin-right: 7px;
}

#backlight-slider trough,
#pulseaudio-slider trough {
  margin-top: -3px;
  min-width: 90px;
  min-height: 10px;
  margin-bottom: -4px;
  border-radius: 8px;
  background: #343434;
}

#backlight-slider highlight,
#pulseaudio-slider highlight {
  border-radius: 8px;
  background-color: #2096c0;
}

#battery.charging,
#battery.plugged {
  color: #e8edf0;
}

#battery.critical:not(.charging) {
  color: red;
}

#taskbar {
  padding: 1px;
}

#custom-r_end {
  border-radius: 0px 7px 7px 0px;
  margin-right: 1px;
  padding-right: 3px;
}

#custom-l_end {
  border-radius: 7px 0px 0px 7px;
  margin-left: 1px;
  padding-left: 3px;
}

#custom-sr_end {
  border-radius: 0px;
  margin-right: 1px;
  padding-right: 3px;
}

#custom-sl_end {
  border-radius: 0px;
  margin-left: 1px;
  padding-left: 3px;
}

#custom-rr_end {
  border-radius: 0px 7px 7px 0px;
  margin-right: 1px;
  padding-right: 3px;
}

#custom-rl_end {
  border-radius: 7px 0px 0px 7px;
  margin-left: 1px;
  padding-left: 3px;
}

/* Style for launchers */

#custom-expand {
  min-width: 25px;
  color: #a1bdce;
  font-size: 16px;
}

#group-minimized {
  border-left: solid;
  border-left-width: 0.5;
}
